.error-ion-padding{
  color: red;
  padding-left: 3%;
  font-size: 12px;
}
#full #part1{
  width: 40%;
  float: left;
  height: 70%;
}
#full #part2{
  width: 30%;
  float: left;
  height: 70%;
}
* {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  }

