
.back{
  background-color: honeydew;
  text-align: center;
}
ion-col {
  border: solid 1px gray;
  text-align: center;
}
div{
  height: 100%;
}
p{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
