<ion-header [hidden]="isLoaded">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{dataService.doTranslate("history")}}</ion-title>
</ion-toolbar>
</ion-header>
<ion-content [hidden]="isLoaded">
  <div *ngIf="!verif">
    <p *ngIf="!verif">{{dataService.doTranslate("your history is empty")}}</p>
  </div>
  <ion-grid *ngIf="verif">
    <ion-row class="back">
      <ion-col size="2"> <ion-label > {{dataService.doTranslate("chef's name")}}</ion-label></ion-col>
      <ion-col size="3"> <ion-label > {{dataService.doTranslate("order date")}}</ion-label></ion-col>
      <ion-col size="3"> <ion-label> {{dataService.doTranslate("plate name")}}</ion-label></ion-col>
      <ion-col size="2"> <ion-label> {{dataService.doTranslate("plate number")}}</ion-label></ion-col>
      <ion-col size="2"> <ion-label> {{dataService.doTranslate("note")}}</ion-label></ion-col>
    </ion-row>
    <ion-row *ngFor="let cmd of plats" (click)="rating(cmd.foodId,cmd.time)">
      <ion-col size="2"> <ion-label>{{cmd.cuistotName}}</ion-label></ion-col>
      <ion-col size="3"> <ion-label> {{cmd.time}}</ion-label></ion-col>
      <ion-col size="3"> <ion-label> {{cmd.name}}</ion-label></ion-col>
      <ion-col size="2"> <ion-label> {{cmd.nbr}}</ion-label></ion-col>
      <ion-col size="2"> <ion-label> {{cmd.rate}}</ion-label></ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
