<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{dataService.doTranslate("create account")}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
  <ion-list>
    <ion-item>
      <ion-label position="floating">{{dataService.doTranslate("name")}}</ion-label>
      <ion-input type="text" formControlName="your_name"></ion-input>
    </ion-item>
    <span class="error-ion-padding" *ngIf=" !isValid && errorCtr.your_name.errors?.required">
      {{dataService.doTranslate("required")}}
    </span>
    <ion-item>
      <ion-label position="floating">email</ion-label>
      <ion-input type="text" formControlName="email_address"></ion-input>
    </ion-item>
    <span class="error-ion-padding" *ngIf=" !isValid && errorCtr.email_address.errors?.required">
      {{dataService.doTranslate("required")}}
    </span>
    <span class="error-ion-padding" *ngIf=" !isValid && errorCtr.email_address.errors?.pattern">
      {{dataService.doTranslate("write a valid email please")}} ( xxxxx@xxx.xxx)
    </span>
    <ion-item>
      <ion-label style="color:#999" position="floating"> {{dataService.doTranslate("gender")}}</ion-label>
      <ion-select  interface="popover" formControlName="gender">
        <ion-select-option value="female"> {{dataService.doTranslate("women")}}</ion-select-option>
        <ion-select-option value="male"> {{dataService.doTranslate("man")}}</ion-select-option>
      </ion-select>
    </ion-item>
    <span class="error-ion-padding" *ngIf=" !isValid && errorCtr.gender.errors?.required">
      {{dataService.doTranslate("required")}}
    </span>
    <ion-item>
      <ion-label style="color:#999" position="floating"> {{dataService.doTranslate("date of birth")}}</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" formControlName="date_birth"></ion-datetime>
    </ion-item>
    <span class="error-ion-padding" *ngIf=" !isValid && errorCtr.date_birth.errors?.required">
      {{dataService.doTranslate("required")}}
    </span>
    <ion-item>
      <ion-label style="color:#999" position="floating">{{dataService.doTranslate("country")}}</ion-label>
      <ion-select  interface="popover" formControlName="country">
        <ion-select-option value="tunis">Tunis </ion-select-option>
        <ion-select-option value="sfax">Sfax</ion-select-option>
        <ion-select-option value="kairouan">Kairouan</ion-select-option>
      </ion-select>
    </ion-item>
    <span class="error-ion-padding" *ngIf=" !isValid && errorCtr.country.errors?.required">
      {{dataService.doTranslate("required")}}
    </span>
    <ion-item>
      <ion-label position="floating">{{dataService.doTranslate("address")}}</ion-label>
      <ion-textarea formControlName="address" position="stacked"></ion-textarea>
    </ion-item>
    <span class="error-ion-padding" *ngIf=" !isValid && errorCtr.address.errors?.required">
      {{dataService.doTranslate("required")}}
    </span>
    <ion-item>
      <ion-label position="floating"> {{dataService.doTranslate("password")}}</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <span class="error-ion-padding" *ngIf=" !isValid && errorCtr.password.errors?.required">
      {{dataService.doTranslate("required")}}
    </span>
    <ion-item>
      <ion-label position="floating">confirmation</ion-label>
      <ion-input type="password" formControlName="conf_pass"></ion-input>
    </ion-item>
    <span class="error-ion-padding" *ngIf=" !isValid && errorCtr.conf_pass.errors?.required">
      {{dataService.doTranslate("required")}}
    </span>
    <span class="error-ion-padding" *ngIf=" !isValid && !verif">
      {{dataService.doTranslate("the two passwords are not the same")}} </span>
    <ion-button expand="block" color="primary" class="no-padding" type="submit" > {{dataService.doTranslate("create account")}}</ion-button>
  </ion-list>
</form>
</ion-content>
