
h2{
  text-align: center;
}
.first{
  width: 100%;
  height: 75%;
}
.second{
  width: 100%;
  height: 25%;
  position: relative;
}

.first img{
  height: 80%;
  width: 95%;
  display: block;
  margin: 0 auto;
  border-radius: 2%;
}
ion-button{
  margin-right: 20%;
  margin-left: 20%;

}




